.kosugi-maru-regular {
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  body {
    font-family: Kosugi maru;
    margin: 0;
    padding: 20px;
  }

  .container { 
display: flex;
flex-wrap: wrap;
margin:16px;
  }

  .active {
    background-color: #04AA6D;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li {
    display: inline;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }