/* STYLES CSS */

/* Definir las fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Estilos para los encabezados */
h1 {
    color: var(--Monochrome-Lighter);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
    font-family: "Kosugi maru";
}

  
  h2 {
    font-family: "kosugi maru";
    font-weight: 400;
    font-style: normal;
  }
  
  h3 {
    font-family: 'Space Mono', monospace;
  }
  
  h4 {
    font-family: 'Space Mono', monospace;
  }
  
  h5 {
    font-family: 'Space Mono', monospace;
  }
  
  h6 {
    font-family: 'Space Mono', monospace;
  }

  .no-underline {
    text-decoration: none;
  }
 

body {
  font-family: 'kosugi maru';
  color: var(--Dark-Green-Matcha, #658168);
  ;background: var(--Milk-coffee, #E3DBBB);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;}


a {
  color: #000000;
  text-decoration: none; /* Change this to the desired color */
} 

a:link {
  color: var(--Dark-Green-Matcha, #658168);
}

a:visited {
  color: var(--Dark-Green-Matcha, #658168);
}

a:hover {
  color: var(--Dark-Green-Matcha, #658168);
}

a:active {
  color: var(--Light-Green-Matcha, #68cd72);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  var(--light-coffee, #f1ecd9);
    ;;
    font-family: 'Kosugi Maru', sans-serif;
}

.nav-logo {
    color: var(--Dark-Green-Matcha, #658168);;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  font-size: 1.25rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--Dark-Green-Matcha, #658168);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
   .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
   .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
   .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media (max-width: 600px) {
    .nav-logo {
       text-align: center;
       margin: 0 auto;
     }
   }



   .fluid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .work-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .work-item a {
    display: block;
  }
  
  .work-item img {
    width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;
  }
  
  .work-item:hover img {
    transform: scale(1.1);
  }
  
  .work-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
  }
  
  .work-item:hover .work-info {
    transform: translateY(0);
  }
  
  .work-info h3 {
    margin-top: 0;
  }
  
  .work-info a {
    color: #fff;
    text-decoration: none;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

justify-center {
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  /* Estilos adicionales */
  .container.justify-center img {
    width: 400px; /* Ancho específico para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
  }

  a img:hover {
    transform: scale(1.0.5);
    filter: brightness(120%);
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  
  .grid-item img {
    width: 100%;
  }
  
  .grid-item p {
    margin-top: 10px;
  }

  .container {
    max-width: 800px; /* ajusta el ancho máximo del contenedor */
    margin: 40px auto; /* agrega un margen de 40px arriba y abajo, y centra horizontalmente */
    padding: 20px; /* agrega un padding de 20px alrededor del contenido */
  }
  
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .work-item {
    margin: 20px; /* agrega un margen de 20px alrededor de cada item */
    text-align: center; /* centra el texto debajo de cada imagen */
  }

  figcaption {text-align: left;
    font-family: kosugi
    ;}


    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 60%;
        margin: 0 auto;
        padding: 2rem;
      }
      
      .about-image {
        width: 40%;
        height: auto;
        margin-right: 3rem;
      }
      
      .about-text {
        width: 50%;
      }
      
      .about-text h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
      
      .about-text p {
        text-align: justify;
       
      }

      .image-mosaic {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 240px;padding: 6rem;
      }
      
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #353535;
        font-size: 3rem;
        color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        transition: all 500ms;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
      }
      
      @media screen and (min-width: 600px) {
        .card-tall {
          grid-row: span 2 / auto;
        }
      
        .card-wide {
          grid-column: span 2 / auto;
        }
      }
