/* STYLES CSS */

/* Definir las fuentes de Google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Estilos para los encabezados */
h1 {
    color: var(--Monochrome-Lighter);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.48px;
    font-family: "Kosugi maru";
}

  
  h2 {
    font-family: "kosugi maru";
    font-weight: 400;
    font-style: normal;
  }
  
  h3 {
    font-family: 'Space Mono', monospace;
  }
  
  h4 {
    font-family: 'Space Mono', monospace;
  }
  
  h5 {
    font-family: 'Space Mono', monospace;
  }
  
  h6 {
    font-family: 'Space Mono', monospace;
  }

  .no-underline {
    text-decoration: none;
  }
 

body {
  font-family: 'kosugi maru';
  color: var(--Dark-Green-Matcha, #658168);
  ;background: var(--Milk-coffee, #E3DBBB);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;}


a {
  color: #000000;
  text-decoration: none; /* Change this to the desired color */
} 

a:link {
  color: var(--Dark-Green-Matcha, #658168);
}

a:visited {
  color: var(--Dark-Green-Matcha, #658168);
}

a:hover {
  color: var(--Dark-Green-Matcha, #658168);
}

a:active {
  color: var(--Light-Green-Matcha, #68cd72);
}

html {
  cursor: url(img/Cursor_AY-08.png), auto !important;
}
a {
  cursor: url(img/Cursores_AY-13.png), auto !important;
}

.grab {
  cursor: url(img/Cursores_AY-13.png), auto !important;
}
.grabbing {
  cursor: url(img/Cursores_AY-15.png), auto !important;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:  var(--light-coffee, #f1ecd9);
    ;;
    font-family: 'Kosugi Maru', sans-serif;
}

.nav-logo {
    color: var(--Dark-Green-Matcha, #658168);;
    text-transform: uppercase;
    letter-spacing: 0.25em;
  font-size: 1.25rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 45%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: var(--Dark-Green-Matcha, #658168);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--Dark-Green-Matcha, #658168);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
   .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
   .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:  var(--Milk-coffee, #E3DBBB);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
   .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media (max-width: 600px) {
    .nav-logo {
       text-align: center;
       margin: 0 auto;
     }
   }



   .fluid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .work-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .work-item a {
    display: block;
  }
  
  .work-item img {
    width: 100%;
    height: auto;
    transition: transform .3s ease-in-out;
  }
  
  .work-item:hover img {
    transform: scale(1.1);
  }
  
  .work-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transform: translateY(100%);
    transition: transform .3s ease-in-out;
  }
  
  .work-item:hover .work-info {
    transform: translateY(0);
  }
  
  .work-info h3 {
    margin-top: 0;
  }
  
  .work-info a {
    color: #fff;
    text-decoration: none;
  }

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

justify-center {
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  /* Estilos adicionales */
  .container.justify-center img {
    width: 400px; /* Ancho específico para las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
  }

  a img:hover {
    transform: scale(1.0.5);
    filter: brightness(120%);
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  
  .grid-item img {
    width: 100%;
  }
  
  .grid-item p {
    margin-top: 10px;
  }

  @media (max-width: 768px) {
    .grid-container {
       grid-template-columns: repeat(2, 1fr);
     }
   }

   @media (max-width: 480px) {
    .grid-container {
       grid-template-columns: 1fr;
     }
   }
  .container {
    max-width: 800px; /* ajusta el ancho máximo del contenedor */
    margin: 40px auto; /* agrega un margen de 40px arriba y abajo, y centra horizontalmente */
    padding: 20px; /* agrega un padding de 20px alrededor del contenido */
  }
  
  
  
  .work-item {
    margin: 20px; /* agrega un margen de 20px alrededor de cada item */
    text-align: center; /* centra el texto debajo de cada imagen */
  }

  figcaption {text-align: left;
    font-family: kosugi
    ;}

/* Estilos para computadoras y tablets */
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
}

.about-image {
  width: 40%;
  height: auto;
  margin-right: 3rem;
}

.about-text {
  width: 50%;
}

/* Estilos para smartphones */
@media (max-width: 480px) {
 .about-container {
    flex-direction: column;
  }
 .about-image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
 .about-text {
    width: 100%;
  }
}

/* Estilos para tablets (opcional) */
@media (min-width: 481px) and (max-width: 768px) {
  /* Aquí puedes agregar estilos específicos para tablets si lo necesitas */
}
      
      .about-text h2 {
        text-align: left;
        margin-bottom: 1rem;
      }
      
      .about-text p {
        text-align: justify;
       
      }

      .image-mosaic {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: 240px;padding: 6rem;
      }
      
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #353535;
        font-size: 3rem;
        color: #fff;
        height: 100%;
        width: 100%;
        border-radius: 4px;
        transition: all 500ms;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
      }
      
      @media screen and (min-width: 600px) {
        .card-tall {
          grid-row: span 2 / auto;
        }
      
        .card-wide {
          grid-column: span 2 / auto;
        }
      }

      .container-float {
        /* Set a consistent box model */
        box-sizing: border-box;
      
        /* Define the height and layout */
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 10px;
     
        /* Center the content horizontally and vertically */
        place-items: center;
      
        /* Add the floating animation */
        animation: floating 3s linear infinite;
      }
      
     

.container-float {
  
 img {
    height: 50%;
    cursor: pointer;
  }
}

.container-float a {
  margin: 70px; /* add 20px gap between each image link */
  display: inline-block; /* make anchors inline-block to respect margin */
}

@keyframes floating
{
  0% {transform: translateY(0)} 
  50% {transform: translateY(15px)} 
  100% {transform: translateY(0)} 
}
   

.container-gallery {
  column-count: 3; /* adjust the number of columns */
  column-gap: 10px; /* adjust the gap between columns */
  max-width: 1200px; /* adjust the maximum width of the container */
  margin: 0 auto; /* center the container */
  padding: 0 20px; /* add some padding to the left and right */
}

.image {
  display: inline-block;
  margin: 20px; /* adjust the margin around each image */
  width: auto; /* adjust the width of each image */
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 0px; /* optional: add a border radius */
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.2); /* optional: add a box shadow */
}

@media (min-width: 601px) and (max-width: 768px) {
  .container-gallery {
     max-width: 100%; /* adjust the maximum width of the container */
     margin: 0; /* remove the margin */
     padding: 0; /* remove the padding */
   }
 
  .image {
     width: 50%; /* make each image take up half the width of the container */
     margin: 10px; /* add some margin to the top, bottom, and sides of each image */
   }
 }

 @media (max-width: 600px) {
  .container-gallery {
     max-width: 100%; /* adjust the maximum width of the container */
     margin: 0; /* remove the margin */
     padding: 0; /* remove the padding */
   }
 
  .image {
     width: 100%; /* make each image take up the full width of the container */
     margin: 10px 0; /* add some margin to the top and bottom of each image */
   }
 }

 
 .slider-container {
  position: relative;
  width: 500px;
  height: 100%;
  margin: 50px auto;
}

.main-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.thumbnails {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.thumbnail {
  width: 80px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #ccc;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color:var(--Dark-Green-Matcha, #658168);
  color: var(--light-coffee, #f1ecd9);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.arrow-left {
  left: -100px;
}

.arrow-right {
  right: -100px;
}


.main-image.fade {
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
}



.slider-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.slider-image {
  width: 70%; /* ajusta el ancho de la imagen principal */
  height: auto;
}

.thumbnail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.thumbnail-image {
  width: 100%;
  height: auto;
  margin: 20px 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .arrow-prev, .arrow-next {
    display: none;
  }
}